<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name= "Cucumber Framework">
	<test name="Cucumber Test" junit="true">
		<classes>
			<class name="Cucumber.runner.MainRunner" />
			<class name="Cucumber.runner.MainRunner2" />
		</classes>
	</test>
</suite>